*{
    font-family: 'Sofia Pro',sans-serif;

}
.buton{
    background-color: cornflowerblue;
    border-radius: 20px;
    transform: skewX(-8deg);
    border: none;
    padding-top: 2px;
    color: white;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 60px;
}
.buton:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    font-size: x-large;
    transition: 0.2s all;
}
.home:hover{
    transform: scale(1.1);
}
a:hover{
    transform: scale(1.1);
}
.logo{
    width: 100px;
    height: 60px;
    margin-right: 100px;
}

.contenedor{
    margin-top: 70px;
    float: left;
}
.contenedor2{
    float: right;
    margin-top: 100px;
    margin-left: 50px;
}
.contenedor h1{
    padding-top: 50px;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 50px;
}
.contenedor h5{
    padding-left: 70px;
    font-size: 30px;
}
.contenedor h5 b{
    padding-top: 50px;
    font-size: 30px;
}
.imagen{
    margin-top: 70px;
    float: right;
}
.imagen2{
    margin-top: 120px;
    float: left;
}
.imagen .img{
    width: 340px;
    height: 400px;
}
.imagen2 .img2{
    width: 340px;
    height: 350px;
}
i{
    color: cornflowerblue;
    font-size: 25px;
}
.contenedor h6{
    padding-left: 70px;
    font-size: 18px;
}
.contenedor h6 b{
    padding-top: 50px;
    font-size: 25px;
}
.title{
    font-weight: bold;
    color: cornflowerblue;
}
.contenedor2 b{
    font-weight: bold;
    color: black;
    font-size: 40px;
}
h6 .neg{
    font-size: 20px;
}
.footer{
    margin-top: 250px;
    margin-right: 120px;
    float: left;
    background-image: linear-gradient(to right, white , lightblue);
}
.footer h1{
    font-weight: bold;
    color: cornflowerblue;
}
.footer h1 b{
    font-weight: bold;
    color: black;
    font-size: 40px;
}
.logos{
    float: left;
    margin-top: 100px;
    display: flex;
}
.logo1{
    border: 5px solid cornflowerblue;
    float: left;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 130px;
    padding: 30px;
}
.img_logo1{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.logo2{
    border: 5px solid cornflowerblue;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 120px;
    padding: 30px;
}
.img_logo2{
    width: 150px;
    height: 140px;
    border-radius: 10%;
}
.logo3{
    border: 5px solid cornflowerblue;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 120px;
    padding: 30px;
}
.img_logo3{
    width: 140px;
    height: 140px;
    border-radius: 10%;
}
.name_logos{
    float: left;
    display: flex;
}
.name_logo1 h4{
    margin-left: 140px;
    font-weight: bold;
    font-size: 25px;
}
.name_logo2 h4{
    margin-left: 130px;
    font-weight: bold;
    font-size: 25px;
}
.name_logo3 h4{
    margin-left: 130px;
    font-weight: bold;
    font-size: 25px;
}
.final{
    float: left;
    margin-top: 200px;
    margin-left: 100px;
    display: flex;
}
.text1 h1{
    font-weight: bold;
}
.text1 h1 b{
    font-weight: bold;
    color: cornflowerblue;
    font-size: 40px;
}
.text1 h5{
    font-size: 23px;
}
.img_text img{
    margin-left: 200px;
    width: 500px;
    height: 450px;
}
.final2{
    float: left;
    margin-left: 100px;
    display: flex;
}
.img_text2 img{
    margin-right: 100px;
    width: 500px;
    height: 450px;
}
.text2 h1{
    font-weight: bold;
}
.text2 h1 b{
    font-weight: bold;
    color: cornflowerblue;
    font-size: 45px;
}
.text2 h5{
    font-size: 20px;
}