@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.wrapper ~ .main_content{
    margin-left: 200px;
}

.main_content .header{
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 125px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
